<!DOCTYPE html>
<html>
  <head>
    <title>Imagetrade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <h2>Menu</h2>
      <ul>
        <li><a href="/all_posts/show">all posts</a></li>
        <li><a href="/user_tops/show">user_top</a></li>
        <li><a href="/posts/new">create post</a></li>
        <li><a href="/mystorage/show">show my storage</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
